<%- include("header") -%>

<div class="container-fluid">
  <hr class="featurette-divider">
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-5 order-md-2">
      <br><br>
      <h4>About Keep-In-Touch</h4>
      <p class="help-list">
        Keep-in-touch is a web development project that is designed and developed by Sreemoyee Basu for Microsoft Engage through which two or more people can have a video conversation and much more.
        Continue reading to use the website properly. If your query isn't answered mail us at engagekeepintouch@gmail.com.

      </p>
    </div>
    <div class="col-md-7 order-md-1">
      <img src="/images/home-1.jpeg" alt="">
    </div>
  </div>


  <hr class="featurette-divider">
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-7 order-md-1">
      <h4>How to quick start a meeting?</h4>
      <h5>This website allows you to set up meetings quickly without signing up or logging in, to do so</h5>
      <li class="help-list">1. Click on Host Meet</li>
      <li class="help-list">2. Fill your name that will be shared with others</li>
      <li class="help-list">3. Check if you want others to see your video or hear you</li>
      <li class="help-list">4. Copy the Meet Id and share it with the people you want to have the meeting.</li>
      <br>
      <h5>If you have a MeetId that is created with the Host Meet option then</h5>
      <li class="help-list">1. Click on Join Meet</li>
      <li class="help-list">2. Fill your name and the Id you have</li>
      <li class="help-list">3. Check if you want others to see your video or hear you</li>
      <li class="help-list">4. Clicking on Join Meet you will be redirected to the meeting…Easy Peasy</li>
      <br><br>
      <p><em>If you are being constantly redirected to the Join Meet page, its possible you have a MeetId that was created in a group. You cannot join meets of a group from this page. To do that you have to sign up, ask for the group key and join
          that
          group and from the group dashboard you have to join the meet.
        </em></p>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/hostmeet.png" aria-label="Placeholder: 500x500">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/joinmeet.png" aria-label="Placeholder: 500x500">
    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-10 order-md-2">
      <h4>What features can I avail during the video call?</h4>
      <li class="help-list"><b>1. User Names :</b> On hovering over a video box you can see that user’s name.</li>
      <li class="help-list"><b>2. Sound Alerts :</b> When somebody joins you will be alerted with a sound. Isn't that cool?</li>
      <li class="help-list"><b>3. On/Off Video :</b> You can click on this icon and your video will not be visible to others instead your initials will be and clicking again will make your video visible.</li>
      <li class="help-list"><b>4. Mute/Unmute Audio :</b> You can click on this icon and mute yourself and clicking again unmute yourself.</li>
      <li class="help-list"><b>5. Mute All :</b> You can mute everyone except yourself in the call </li>
      <li class="help-list"><b>6. Raise/Lower Hand :</b> You can click on this icon and a red box and a hand beside your name will be visible to all users and clicking this again will undo that.</li>
      <li class="help-list"><b>7. Participants :</b> On clicking this icon you can see the list of all participants in the call and clicking outside the list bar will minimise the list</li>
      <li class="help-list"><b>8. Chat : </b>On clicking this icon your chat bar will open and you can chat their, whenever a person will text you on the call the chat bar will automatically open and to close it you can click anywhere outside the chat bar
        will minimise it.</li>
      <li class="help-list"><b>9. Screen Sharing :</b> On clicking this icon a new tab will open where you will be given the option what you want to share, on choosing that you can share your screen and for all the other users they will get a link to your screen.</li>
      <li class="help-list"><b>10. Collab :</b> This a feature using which the users can draw together, create ideas and just go wild.</li>
      <li class="help-list"><b>11. End Call :</b> This will end your call and redirect you to the proper page.</li>
    </div>
    <div class="col-md-2 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-md featurette-image img-fluid mx-auto" width="40" height="100" src="/images/features.png" aria-label="Placeholder: 40x100">


    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-9 order-md-1">
      <h4> Why Signup?</h4>
      <h5>Signing Up allows you to</h5>
      <li class="help-list">1. Create groups of people you have meets often and is not a one time thing.</li>
      <li class="help-list">2. In every group you can add meets and this will send the members a mail about the meet</li>
      <li class="help-list">3. You will have a history of all the meets you have </li>
      <li class="help-list">4. and also store the chats before, after and during the meet.</li>
      <li class="help-list">5. Get reminders mails before your meet.</li>

    </div>
    <div class="col-md-3 order-md-2">
      <img src="/images/signup-1.jpeg" alt="" style="padding-right:20px;" data-aos="fade-up" data-aos-duration="1000">

    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-7 order-md-2">
      <h4>How to SignUp or LogIn?</h4>
      <h5>If you are already not a registered user</h5>
      <li class="help-list">1. Click on Sign Up</li>
      <li class="help-list">2. Fill your details, make sure to fill a valid email Id or else you won’t get mails</li>
      <li class="help-list">3. And that’s it and you will be redirected to your dashboard which will be empty now and you have to create or join groups.</li>
      <br>
      <h5>If you are a registered user</h5>
      <li class="help-list">1. Click on Log In</li>
      <li class="help-list">2. Enter the email-id and password and you will be redirected to your dashboard.</li>

    </div>
    <div class="col-md-5 order-md-1">
      <img src="/images/signup.png" alt="" style="padding-right:20px;" width="400" height="400" aria-label="Placeholder: 400x400">

    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-7 order-md-1">
      <h4>How to create groups? <strong>(Only available if logged in)</strong></h4>
      <li class="help-list">1. To create groups click on the plus button on top of your list of groups or in your navbar.</li>
      <li class="help-list">2. Give your group an unique name and a key.</li>
      <li class="help-list">3. Share that key with people you want in that group.</li>

      <h4>How to join groups? </h4>
      <li class="help-list">1. To join group click on the first button above the list of groups or the join group link on the navbar.</li>
      <li class="help-list">2. Enter the group name and the group key.</li>
      <li class="help-list">3. That’s it. What are you waiting for?</li>
    </div>
    <div class="col-md-5 order-md-2">
      <img src="/images/creategroup.png" alt="" style="padding-right:20px;" width="400" height="400" aria-label="Placeholder: 400x400">

    </div>
  </div>
  <br><br>
  <hr>
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-7 order-md-2">
      <h4>Forgot the group key and your friends are waiting?</h4>
      <p>Don’t worry we got you covered.</p>
      <li class="help-list">1. Open your dashboard and click on the group you want the key of.</li>
      <li class="help-list">2. Click on the controls button in the bottom</li>
      <li class="help-list">3. Choose group details</li>
      <li class="help-list">4. Voila!! You can see the group key as well the list of people you share the group with.</li>

      <h4>How to create a new meet?</h4>
      <li class="help-list">1. Open your dashboard and click on the group you want the key of. </li>
      <li class="help-list">2. Click on the new meet button in the bottom </li>
      <li class="help-list">3. Fill all the details and all the members will receive the info about the new meet. </li>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="900" style="padding-right:30px;" src="/images/groupdetails.png" aria-label="Placeholder: 900x900">
    </div>
  </div>
  <br><br>
  <hr>

  <br><br>

  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-6 order-md-1">

      <h4>How to cancel a meet?</h4>
      <p> Click on the cancel meet option on the meet box and there you go - everybody will receive a mail of cancellation.</p>

      <h4> Cancelled a meet by mistake? </h4>
      <p> Click on undo cancel and everything is back to normal.</p>

      <h4> Want to remind everybody to be on time for the meet?</h4>
      <p> Click on the remind button on the meet box and everyone will receive the reminder. <strong>Also we will remind every member about the meet automatically so don't you worry!</strong></p>

      <h4>Want to read old chats or just read what your friends chatted during the call?</h4>
      <p> Click on the chat button on the meet box and voila… you can infact continue talking there.</p>

    </div>
    <div class="col-md-6 order-md-2">
      <img class="bd-placeholder-img bd-placeholder-img-md featurette-image img-fluid mx-auto" src="/images/dashboardfeature.png" width="900" height="900" aria-label="Placeholder: 900x900">
    </div>
  </div>
  <br><br>
  <hr>
  <br><br>

</div>
<br><br>

<h1 class="heading" style="text-align: center;">Carpe Diem!</h1>
<br><br><br>
<!-- Start of Script Tags -->

<script>
  AOS.init();
</script>

<!-- End of Script Tags -->
</body>

</html>
